/* 
Generic Styling, for Desktops/Laptops 
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@font-face {
    font-family: "Giorgio";
    src: url("images/Giorgio.ttf");
}

@font-face {
    font-family: "Giorgio";
    src: url("images/Giorgio-Thin.ttf");
    font-weight: thin;
}


table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #white; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  font-family: "Giorgio",Helvetica,Arial,sans-serif;
  padding: 1em;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-family: "Giorgio",Helvetica,Arial,sans-serif;
  padding: 1em;
  letter-spacing: 1px;
}


a {
  font-family: 'Playfair Display',sans-serif;
	font-size: 1em;
	font-weight: 900;
	font-style: italic;
/*	letter-spacing: 2px;*/
	color: #1a1a1a;
	text-decoration: none;
}

a:hover{
	color: #E1ACAF;
	text-decoration: none;
}

p {
  font-family: "Giorgio",Helvetica,Arial,sans-serif;
}